img.math {
    float: left;
    vertical-align: middle;
}

div.body div.math p {
    text-align: center;
}

span.eqno {
    float: right;
}

.toggle .header {
    display: inline-block;
    border: 1pt solid #777;
    background-color: #d0d0a0;
    border-radius: 5px;
    padding: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.toggle .header:after {
}

.toggle .header.open:after {
}

.proof {
    display: block;
    border: 1pt solid #777;
    background-color: #d0d0a0;
    border-radius: 15px;
    padding: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
