.underline {
    text-decoration: underline;
}

img.math {
    vertical-align: middle;
}

div.body div.math p {
    text-align: center;
}

span.eqno {
    float: right;
}

.toggle {
    display: inline-block;
    border: 1px solid #777;
    background-color: #ECECEC;
    border-radius: .5em;
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}
    
.toggle .header {
    padding: .5em;
    font-weight: bold;
}

.homework {
    display: none;
    background-color: #DBEDFF;
    padding: 1em;
    border-radius: 0 0 .5em .5em;
}

.definition {
    display: block;
    background-color: #FFE9C3;
    padding: 1em;
    border-radius: .5em;
}

.theorem {
    display: block;
    background-color: #C9FFB6;
    padding: 1em;
    border-radius: .5em;
}

.algorithm {
    display: block;
    background-color: #FFB3AE;
    padding: 1em;
    border-radius: .5em;
}

.proof {
    display: none;
    background-color: #DBEDFF;
    padding: 1em;
    border-radius: 0 0 .5em .5em;
}

.sourcecode {
    display: block;
    background-color: #F2F2F2;
    padding: 1em;
    border-radius: .5em;
}
